<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mechanism_308">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import mechanism_308 urdf file -->
    <xacro:include filename="$(find mechanism_308_description)/urdf/mechanism_308.xacro" />

    <!-- MoveIt-specific ros2_control overrides removed to prevent duplication -->
</robot>
